/* Custom CSS for the chat box */
.chat-box {
    background-color: #E0E0E0; /* Light gray background */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 20px #ACACAC, -10px -10px 20px #FFFFFF;
}

/* Custom CSS for the user list */
.user-list {
    background-color: #E0E0E0; /* Light gray background */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 20px #ACACAC, -10px -10px 20px #FFFFFF;
}

.inputone{
    margin-top: 24%;
}
